---
title: Uplaunch — Mindblowing Coming Soon Pages 🚀 | by itmeo
---
extends layouts/_layout
block content
  include partials/_nav
  main.page_wrapper.landing
    include partials/_cover
    include partials/_about
    include partials/_design
    include partials/_code
    include partials/_integrations
    include partials/_prototype
    include partials/_templates
    include partials/_features
    include partials/_pricing