.about
  .container.about__container
    h3.about__subheader.js-appearing-content
      | Power Up your Launch
    .about__info.js-appearing-content
      | #[span.about__info__first_string Uplaunch helps to collect your email submissions with the smart way.] #[span.about__info__second_string We provide all what you need for fast launch and engage your early customers.]
    ul.about__features.js-appearing-content
      li.about__features__item
        | HTML5 templates
      li.about__features__item
        | All you need integrations
      li.about__features__item
        | Animated forms
      li.about__features__item
        | Zero coding

    .about__buttons.js-appearing-content
      a.about__button.button.button--bg-blue(href=purchase_link, target="_blank")
        | Buy Full Version
      a.about__button.button.button--bg-gray(href=demo_link, target="_blank")
        | Download Demo
  .about__graph_box
    .about__graph
      include ../../img/line_chart.svg