.code
  .container.code__container
    .code__main_info
      h2.code__title.js-appearing-content
        span.code__title__word.title Developer&nbsp;
        span.code__title__word.title Friendly
      .code__info.js-appearing-content
        | Developed on clean HTML, CSS, and JS. Our code is
        | well-structured and ready to modify
      .code__features
        input#code__dot_first.code__dot_input(type='radio', name='code_slider', checked)
        input#code__dot_second.code__dot_input(type='radio', name='code_slider')
        .code__dots
          label(for='code__dot_first')
            .code__dot
          label(for='code__dot_second')
            .code__dot
        .code__features__box
          .code__features__line.js-appearing-content
            .code__feature_item
              h3.code__feature_title
                | Clean Code
              p.code__feature_text
                | Chilled caviar can be made quartered by decorating with vinaigrette. Toss one container of chickpeas in one package of beer.
            .code__feature_item
              h3.code__feature_title
                | Pre-made animations
              p.code__feature_text
                | Caviar can be garnished with instant lobster, also try jumbleing the porridge with olive oil.

          .code__features__line.js-appearing-content
            .code__feature_item
              h3.code__feature_title
                | AJAX powered
              p.code__feature_text
                | Garnish each side of the raspberries with one jar of pumpkin seeds. Try cooking chicory sauce seasoned with lime.
            .code__feature_item
              h3.code__feature_title
                | Fully responsive
              p.code__feature_text
                | Watermelon can be seasoned with small chicken breasts, also try blending the chili with orange juice.
    .code__advanced_box.js-appearing-content
      h3.code__advanced_title
        | Advanced Version
      .code__advanced_text_box
        p.code__advanced_text.code__advanced_item
          | All the resources are combined into qualitative, clean, and customizable files for Sketch and Photoshop
        img.code__advanced_img.code__advanced_item(src="img/icons/html5-logo-white.svg")
        img.code__advanced_img.code__advanced_item(src="img/icons/sass-logo-white.svg")
        img.code__advanced_img.code__advanced_item(src="img/icons/pug-logo-white.svg")
        img.code__advanced_img.code__advanced_item(src="img/icons/gulp-logo-white.svg")


  .code__cards_box.js-appearing-content
    img.code__card.code__card--top(src="img/screen-1.png", data-bottom-top="transform: translateY(-15%);", data--100p-top-bottom="transform: translateY(15%);")
    img.code__card.code__card--bottom(src="img/screen-2.png", data-bottom-top="transform: translateY(-15%);", data--100p-top-bottom="transform: translateY(25%);")
  .code__circle