.cover.js-cover-section
  .cover__content
    .container
      h1.cover__title.js-appearing-content
        span.cover__title__word Fascinating&nbsp;
        span.cover__title__word coming&nbsp;
        span.cover__title__word soon&nbsp;
        br
        span.cover__title__word pages&nbsp;
        span.cover__title__word for&nbsp;
        span.cover__title__word your&nbsp;
        span.cover__title__word.cover__title__word__mark
          div.cover__title__word_text startup
      .cover__buttons.js-appearing-content
        a.cover__button.button.button--border-black(href=demo_link)
          | See Templates
        a.cover__button.button.button--bg-black(href=purchase_link, target="_blank")
          | Purchase
      a.cover__scroll.js-scroll.js-appearing-content(href="#")
        span.cover__scroll__text.js-appearing-content
          | scroll down
  .cover__right
    .cover__shape
    .cover__cards_box
      .cover__big_card_box
        .cover__big_card
          .cover__big_card__logo_box
            img.cover__big_card__logo_circle(src="img/logo_circle.svg")
            img.cover__big_card__logo_triangle(src="img/logo_triangle.svg")
          .cover__big_card__form_box
            .cover__big_card__input
              .cover__big_card__input_placeholder.js-sketchy-placeholder
            button.cover__big_card__button.js-sketchy-form-button(type="button")
      .cover__small_card_box
        .cover__small_card.cover__small_card--1
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--2
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--3
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--4
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--5
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--6
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--7
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
      .cover__small_card_box.cover__small_card_box--right
        .cover__small_card.cover__small_card--1
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--2
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--3
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--4
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--5
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--6
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar
        .cover__small_card.cover__small_card--7
          .cover__small_card__circle
          .cover__small_card__top_bar
          .cover__small_card__bot_bar