.design
  .container
    h2.design__title.js-appearing-content
      span.design__title__word.title Beautifully&nbsp;
      span.design__title__word.title Designed
    .design__info.js-appearing-content
      | Enhanced brightness makes it easier than ever to see, wherever you are. Uplaunch hepls to collect your email submissions with the smart way. We provide all what you need for fast launch. Components and templates are named.
    .design__features.js-appearing-content
      ul.design__feature_row
        li.design__feature_item
          |Smooth Animations
        li.design__feature_item
          |Customizable Colors
        li.design__feature_item
          |Microinteractions
        li.design__feature_item
          |Higher Conversion Rate
      ul.design__feature_row
        li.design__feature_item
          |Thoughtful UX
        li.design__feature_item
          |Perfect Design
        li.design__feature_item
          |Gorgeuos Templates
        li.design__feature_item
          | Design Files
  .design__floatings
  .design__cards_box.js-appearing-content
    .design__card.state-top
      img.design__card_img(src="/img/design_cards/1.png")
    .design__card.state-mid
      img.design__card_img(src="/img/design_cards/2.png")
    .design__card.state-back
      img.design__card_img(src="/img/design_cards/3.png")