.features
  .features__box
    .features__illustration_box.js-appearing-content
      include ../../img/floating_bar.svg
    .features__content.container
      h2.features__title.js-appearing-content
        span.features__title__word.title Everything&nbsp;
        span.features__title__word.title You&nbsp;
        span.features__title__word.title Need
      p.features__info.js-appearing-content
        | Fluff a handfull popcorns, cabbage, and wasabi in a large soup pot over medium heat, sauté for twenty minutes and season with some chicken.
      .features__features
        input#features__dot_first.features__dot_input(type='radio', name='features_slider', checked)
        input#features__dot_second.features__dot_input(type='radio', name='features_slider')
        input#features__dot_third.features__dot_input(type='radio', name='features_slider')
        input#features__dot_fourth.features__dot_input(type='radio', name='features_slider')
        .features__dots
          label(for='features__dot_first')
            .features__dot
          label(for='features__dot_second')
            .features__dot
          label(for='features__dot_third')
            .features__dot
          label(for='features__dot_fourth')
            .features__dot
        .features__table
          ul.features__row.js-appearing-content
            li.features__item
              h3.features__item_title
                | ​Designed to impress
              .features__item_text
                | Just a basic knowledge of HTML is required. It comes together with comprehensive help guides and useful examples.
            li.features__item
              h3.features__item_title
                | Integrations
              .features__item_text
                | Just a basic knowledge of HTML is required. It comes together with comprehensive help guides and useful examples.
            li.features__item
              h3.features__item_title
                | Fully responsive
              .features__item_text
                | Just a basic knowledge of HTML is required. It comes together with comprehensive help guides and useful examples.
            li.features__item
              h3.features__item_title
                | Gorgeous Templates
              .features__item_text
                | Just a basic knowledge of HTML is required. It comes together with comprehensive help guides and useful examples.

          ul.features__row.js-appearing-content
            li.features__item
              h3.features__item_title
                | Well documented
              .features__item_text
                | Just a basic knowledge of HTML is required. It comes together with comprehensive help guides and useful examples.
            li.features__item
              h3.features__item_title
                | Animated Forms
              .features__item_text
                | Just a basic knowledge of HTML is required. It comes together with comprehensive help guides and useful examples.
            li.features__item
              h3.features__item_title
                | Animations
              .features__item_text
                | Just a basic knowledge of HTML is required. It comes together with comprehensive help guides and useful examples.
            li.features__item
              h3.features__item_title
                | Support
              .features__item_text
                | Ground beef can be soaked with melted shrimps, also try seasoning the tart with mint sauce.