.integrations
  .container.integrations__container
    .integrations__image_box
      img.integrations__image(src="img/circle_set.png")
    .integrations__info_box
      h2.integrations__title.title
        | Powerful
        br
        | Integrations
      p.integrations__text
        | Lettuce can be varnished with cored popcorn, also try flavoring the casserole with ice water.
      ul.integrations__features_box
        li.integrations__feature_item
          h3.integrations__feature_title
            | work with zapier
          p.integrations__feature_text
            | Tuna can be mashed up with bloody strudel, also try garnishing soup with crême fraîche.
        li.integrations__feature_item
          h3.integrations__feature_title
            | work with zapier
          p.integrations__feature_text
            | Blend each side of the chicory with four and a half teaspoons of chocolate.
      .integrations__button_box
        a.integrations__button(href="#", target="_blank")
          | Case: How to Automagically Send Emails to Google Sheet