.pricing
  .container
    .pricing__feedbacks
      .pricing__feedbacks_box
        .pricing__feedback.state-active.js-feedback-item(data-index="1")
          .pricing__feedback_text
            | Try fluffing chickpeas casserole seasoned with peppermint tea. Jumble each side of the asparagus with twelve teaspoons of chicken lard. Spinach can be varnished with divided lettuce, also try soaking the punch with ketchup.
          .pricing__feedback_person
            .pricing__feedback_person
              img.pricing__feedback_person_img(src="/img/photos/smb.png")
              .pricing__feedback_person_info
                .pricing__feedback_person_name
                  | Yuriy Kovalev
                .pricing__feedback_person_title
                  | Ex. frontend developer @ Upwork Global Inc.
        .pricing__feedback.js-feedback-item(data-index="2")
          .pricing__feedback_text
            | Cook bagel roughly, then mix with whiskey and serve fully in fine-mesh strainer. Canned, heated pudding is best rubed with nutty salad cream. To the niffy shrimps add eggs, nachos, coffee and hardened steak.
          .pricing__feedback_person
            .pricing__feedback_person
              img.pricing__feedback_person_img(src="/img/photos/am.png")
              .pricing__feedback_person_info
                .pricing__feedback_person_name
                  | Artem Masoshin
                .pricing__feedback_person_title
                  | Frontend developer @ itmeo

        .pricing__feedback.js-feedback-item(data-index="3")
          .pricing__feedback_text
            | Shred seven meatloafs, caviar, and sugar in a large bowl over medium heat, grill for two minutes and toss with some rice. Try tossing the whiskey sausagess with chilled red wine and water, iced.
          .pricing__feedback_person
            .pricing__feedback_person
              img.pricing__feedback_person_img(src="/img/photos/cptn.png")
              .pricing__feedback_person_info
                .pricing__feedback_person_name
                  | Captain Jack Sparrow
                .pricing__feedback_person_title
                  | Mullstack mesigner @ mitmeo

      .pricing__dots
        button.pricing__dot.js-feedback-dot(data-index="1", type="button")
        button.pricing__dot.js-feedback-dot(data-index="2", type="button")
        button.pricing__dot.js-feedback-dot(data-index="3", type="button")

    .pricing__price_box
      .pricing__price
        | $99
      .pricing__info
        | Unlimited License
      a.pricing__button.button.button--bg-green(href=purchase_link, target='_blank')
        | Purchase

    ul.pricing__features
      li.pricing__feature_item
        h3.pricing__feature_item_title
          | Money back guarantee
        .pricing__feature_item_text
          | When scraping shredded shrimps.
      li.pricing__feature_item
        h3.pricing__feature_item_title
          | Forever yours
        .pricing__feature_item_text
          | When scraping shredded shrimps.

      li.pricing__feature_item
        h3.pricing__feature_item_title
          | ​Tech support
        .pricing__feature_item_text
          | When scraping shredded shrimps.

      li.pricing__feature_item
        h3.pricing__feature_item_title
          | Free Updates
        .pricing__feature_item_text
          | When scraping shredded shrimps.