.prototype
  .container.prototype__container
    .prototype__logo_box
      img.prototype__logo_circle(src="/img/logo_circle_big.svg")
      img.prototype__logo_triangle(src="/img/logo_triangle_big.svg")
    .prototype__main_info
      h2.prototype__title.js-appearing-content
        span.prototype__title__word.title Prototype&nbsp;
        span.prototype__title__word.title with&nbsp;
        br
        span.prototype__title__word.title Design&nbsp;
        span.prototype__title__word.title Files&nbsp;
      .prototype__info.js-appearing-content
        | Cabbage can be decorateed with tasty celery, also try varnishing the casserole with mayonnaise.
      .prototype__features
        input#prototype__dot_first.prototype__dot_input(type='radio', name='prototype_slider', checked)
        input#prototype__dot_second.prototype__dot_input(type='radio', name='prototype_slider')
        .prototype__dots
          label(for='prototype__dot_first')
            .prototype__dot
          label(for='prototype__dot_second')
            .prototype__dot
        .prototype__features__box
          .prototype__features__line.js-appearing-content
            .prototype__feature_item
              h3.prototype__feature_title
                | Easy to Customize
              p.prototype__feature_text
                | Chilled caviar can be made quartered by decorating with vinaigrette. Toss one container of chickpeas in one package of beer.
            .prototype__feature_item
              h3.prototype__feature_title
                | Neatly Layered
              p.prototype__feature_text
                | Caviar can be garnished with instant lobster, also try jumbleing the porridge with olive oil.

          .prototype__features__line.js-appearing-content
            .prototype__feature_item
              h3.prototype__feature_title
                | Google Fonts
              p.prototype__feature_text
                | Garnish each side of the raspberries with one jar of pumpkin seeds. Try cooking chicory sauce seasoned with lime.
            .prototype__feature_item
              h3.prototype__feature_title
                | UI Components
              p.prototype__feature_text
                | Watermelon can be seasoned with small chicken breasts, also try blending the chili with orange juice.

    .prototype__advanced_box.js-appearing-content
      h3.prototype__advanced_title
        | For Photoshop & Sketch
      .prototype__advanced_text_box
        p.prototype__advanced_text
          | Sausages can be blended with large bagel, also try also try brushing the stir-fry with beer.
        .prototype__advanced_images
          img.prototype__advanced_img.prototype__advanced_item(src="/img/Adobe_Photoshop_CC_icon.svg", data-bottom-top="transform: translateY(50%);"/*25%*/, data-top-bottom="transform: translateY(-10%);")
          img.prototype__advanced_img.prototype__advanced_item(src="/img/Sketch_logo_frame.svg", data-bottom-top="transform: translateY(-50%);"/*-25%*/, data-top-bottom="transform: translateY(10%);")


  .prototype__mockup_box.js-appearing-content
    img.prototype__mockup(src="/img/macbook.png", data-bottom-top="transform: translateY(-64%);", data--25p-top-bottom="transform: translateY(-50%);")