include ../mixins/all
doctype html
html
  head
    include _head
    include _fonts
    include _media-tags

  body(class=bodyClass)
    block content

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="js/app.js")
